<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AAB.RMYS" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<service android:name=".RFService" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة ذكرني لأبديتي" android:enabled="true" />
	<service android:name=".JesusPrayS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الصلاة السهمية" android:enabled="true" />
	<service android:name=".FastsS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الأصوام" android:enabled="true" />
	<application android:label="ذكرني لأبديتي" android:icon="@drawable/Icon"></application>
</manifest>