<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AAB.RMYF" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<receiver android:name="rebootApplication.BootReceiver" android:enabled="true" android:exported="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
			<action android:name="android.intent.action.QUICKBOOT_POWERON" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</receiver>
	<service android:name=".MKS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الإجتماعات والقداسات" android:enabled="true" />
	<service android:name=".JesusPrayS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الصلاة السهمية" android:enabled="true" />
	<service android:name=".FastsS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الأصوام" android:enabled="true" />
	<service android:name=".Prayers" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة الصلاة" android:enabled="true" />
	<service android:name=".HBS" android:exported="false" android:icon="@drawable/Icon" android:label="خدمة قراءة الكتاب المقدس" android:enabled="true" />
	<application android:label="كونوا مستعدين" android:icon="@drawable/Icon">
		<!--activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" /-->
	</application>
	<!--meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-7815790223324062~4750217627" /-->
</manifest>